body {
    background-color: rgb(38, 40, 41);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.header {
    background-image: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9)), url(../images/UNCGbackimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header h1 {
    padding-left: 30px;
}
a {
    text-decoration: none;
    color: white;
}

.navigation {}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-right: 30px;
}

.navlink {
    font-size: 17pt;
    padding-right: 40px;
    text-decoration: none;
}

#btnBox {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#btnBox button {
    margin-right: 20px;
    background-color: rgb(38, 40, 41);
    border: solid 2px white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}